@charset "UTF-8";
 

* {
    margin: 0;
    padding: 0;
}


#cabeca  {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}
#cabeca >h1 {
    font-variant: small-caps;
    
}
#title {
    font-size: 60px;
}
.cabra {
    font-size: 20px;
    font-weight: 500;
}
.cabra > a:hover {
    text-decoration: underline;
}
a {
    
    color: white;
    font-weight: bold;
    text-decoration: none;
}
section {
    font-size: 30px;
    padding-top:10vh;
    padding-bottom:10vh;
    line-height: 2em;
    padding-left: 30px;
}
#rodape {
    color: black;
    font-weight: lighter;
    text-decoration: none;
}
#rodape:hover {
    text-decoration: underline;
}
.normal {
    background-color: white;
    color: black;
}
.imagem {
    background-color: lightgray;
    color: white;

}
.imagem > p {
 background-color:rgba(0, 0, 0, 0.267) ;
 width:400px ;
}
#janinha {
    background-image: url(imagens/background001.jpg);
    background-position: center center;
    background-attachment: fixed;
}
#pepo{
    background-image: url(imagens/background002.jpg);
    background-position: center center;
    background-attachment: fixed;
}