@charset "UTF-8";
 

* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --fonte1:'Sriracha', cursive;
    --fonte2:'Passion One', cursive;
    --fonte3:Verdana, Geneva, Tahoma, sans-serif;
}
body, html {
    font-family: var(--fonte3);
}
#cabeca  {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}
#cabeca >h1 {
    font-variant: small-caps;
    font-family:var(--fonte2) ;
    font-size: 8vw;
}
#title {
    font-size: 60px;
}
.cabra {
    font-size: 20px;
    font-weight: 500;
}
.cabra > a:hover {
    text-decoration: underline;
}
a {
    
    color: white;
    font-weight: bold;
    text-decoration: none;
}
section {
    font-size: 4vw;
    padding-top:5vh;
    padding-bottom:5vh;
    line-height: 2em;
    padding-left: 30px;
    font-family:"Sriracha", cursive; ;
}
#rodape {
    color: black;
    font-weight: lighter;
    text-decoration: none;
}
#rodape:hover {
    text-decoration: underline;
}
.normal {
    background-color: white;
    color: black;
}
.imagem {
    background-color: lightgray;
    color: white;

}
.imagem > p {
 background-color:rgba(0, 0, 0, 0.267) ;
 display: inline-block;
 padding: 8px;
}
#janinha {
    background-image: url(imagens/background001.jpg);
    background-position: center center;
    background-attachment: fixed;
}
#pepo{
    background-image: url(imagens/background002.jpg);
    background-position: center center;
    background-attachment: fixed;
}
footer {
    background-color: rgb(46, 45, 45);
    color: white;
    text-align: center;
    font-family: var(--fonte2);
    padding: 6px;
}
#rodape {
    color: white;
}